<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenhao.dao.MiaoshaGoodsMapper">
  <resultMap id="BaseResultMap" type="com.wenhao.vo.GoodsVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="miaoshao_price" jdbcType="DECIMAL" property="miaoshaoPrice" />
    <result column="stock_count" jdbcType="INTEGER" property="stockCount" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_id, miaoshao_price, stock_count, start_date, end_date
  </sql>
  <sql id="Goods_Column_List">
    g.id, g.goods_name, g.goods_title, g.goods_img, g.goods_price, g.goods_stock, g.goods_detail
  </sql>
  <sql id="MGoods_Column_List">
    mg.miaoshao_price,mg.stock_count, mg.start_date, mg.end_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from miaosha_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectGoodsByGoodsId" parameterType="java.lang.Long" resultMap="BaseResultMap">
  	select 
    <include refid="Goods_Column_List" />,<include refid="MGoods_Column_List" />
    from miaosha_goods mg left join goods g on mg.goods_id=g.id
    where g.id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectGoodsList" resultMap="BaseResultMap">
  	select 
    <include refid="Goods_Column_List" />,<include refid="MGoods_Column_List" />
    from miaosha_goods mg left join goods g on mg.goods_id=g.id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from miaosha_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wenhao.model.MiaoshaGoods">
    insert into miaosha_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="miaoshaoPrice != null">
        miaoshao_price,
      </if>
      <if test="stockCount != null">
        stock_count,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="miaoshaoPrice != null">
        #{miaoshaoPrice,jdbcType=DECIMAL},
      </if>
      <if test="stockCount != null">
        #{stockCount,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="reduceStock" parameterType="java.lang.Long">
    update miaosha_goods
    set stock_count = stock_count - 1
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="update" parameterType="com.wenhao.model.MiaoshaGoods">
    update miaosha_goods
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="miaoshaoPrice != null">
        miaoshao_price = #{miaoshaoPrice,jdbcType=DECIMAL},
      </if>
      <if test="stockCount != null">
        stock_count = #{stockCount,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>